
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin-left: auto;
    margin-right: auto;
    width: 56vw;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html {
   scroll-behavior: smooth;
    overflow-x: hidden;
}

p, ol, ul {
    font-size: 0.9rem;
    line-height: 1.5rem;
    opacity: 0.7;
    margin-bottom: 2em;
}

h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
    opacity: 0.8;
}

h3 {
    font-size: .9rem;
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
    opacity: 0.8;
    font-weight: 400;
}

.home h1{
    color: rgb(53, 141, 141);
    font-size: 3rem;
    font-weight: 550;
    float: left;
}

#introduction {
    font-family: 'Karla', sans-serif;
    /* width: 100vw; */
    height: 48vh;
    top: 0px;
    left: 0px;
    text-align: left;
    /* padding-top: 10vh; */
}

#introduction h1,p, #links {
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#introduction h1 {
    padding-top: 9vh;
    font-weight: 500;
    opacity: 0.8;
    /* text-align: center; */
}

#introduction p {
    font-size: 1rem;
}

#introduction a:hover {
    color: #6e95ff;
    line-height: 50px;
    border-bottom: 3px solid #6e95ff;
    /* transition: 0.3s ease-in-out; */
}

body {
    margin-top: 2rem;
    font-family: 'Karla', sans-serif;
}

h1 {
    font-size: 36px;
}

nav a{
    font-family: 'Karla', sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    opacity: 0.7;
    /* padding-right: 1em; */
    padding-top: 0.5em;
}

nav#main {
    float: right;    
    /* padding-right: 1em; */
}

footer {
    font-size: 0.8rem;
    opacity: 0.2;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

button {
    border: none;
    cursor: pointer;
	outline: inherit;
    background: none;
}

#links a{
    padding-top: 0.5vh;
    margin-right: 3em;
    color:rgb(53, 141, 141);
} 

/* .section {
    margin-left: auto;
    margin-right: auto;
    width: 56vw;
} */

/* #logo {
    width: 6vw;
    margin-left: 4vw;
} */

.introtext {
    /* margin-left: auto;
    margin-right: auto;
    width: 60vw; */
    text-align: justify;
    padding-top: 12rem;
}

.grid-container {
    opacity: 1;
    display: grid;
    grid-template-columns: 18vw 18vw 18vw;
    grid-gap: 1rem;
    /* width: 60vw;
    margin-left: auto;
    margin-right: auto; */
    /* margin-top: 0rem; */
    /* z-index: 999; */
}

.grid-container a {
    text-decoration: none;
    color: rgb(53, 141, 141);
/*    color: black;*/
}

.grid-container div img, p{
    width: 100%;
    height: auto;
}

#title {
    opacity: 0;
    padding-bottom: 0.5rem;
    line-height: 1.1rem;
}

.grid-container div:hover #title {
    opacity: 0.8;
    float: left;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.grid-container div h3 {
    font-size: 0.6rem;
    text-transform: uppercase;
    color: rgb(53, 141, 141);
}

.grid-container div h2 {
    margin-top: 0.3rem;
    font-size: 0.9rem;
    line-height: 1rem;
}

.grid-container div#low h3 {
    margin-bottom: 0.3rem;
}


/*pages*/

.intro-grid {
    display: grid;
    grid-template-columns: 19vw 36vw;
    grid-gap: 2vw;
    margin-top: 3rem;
    width: 56vw;
    margin-left: auto;
    margin-right: auto;
}

.intro-grid h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

#me {
    width: 100%;
}

.intro-grid p,ul {
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    /* width: 36vw */
}

/* section #post {
    width: 70vw;
    margin-left: 14vw;
    margin-top: 3rem;
} */

.hide {
    display: none;
}

.projname {
    padding-top: 3rem;
    width: 56vw;
    margin-left: auto;
    margin-right: auto;
}

.projname h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.projname h2, p {
    /* line-height: 1rem; */
    opacity: 0.5;
}



/* digital dabbles */

#piece {
    margin-top: 1rem;
    width: 56vw
}

.art-gallery {
    opacity: 1;
    display: grid;
    grid-template-columns: 27vw 27vw;
    height: auto;
    grid-gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    /* z-index: 9; */
}

.art-gallery  div img {
    width: 27vw;
    height: auto;
}

/* holiday cards */

.holidays-gallery {
    opacity: 1;
    display: grid;
    grid-template-columns: 18vw 18vw 18vw;
    grid-gap: 1rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    /* z-index: 9; */
}

.holidays-gallery  div img {
    width: 18vw;
    height: auto;
}


.projdescript {
    opacity: 1;
    display: grid;
    grid-template-columns: 15vw 39vw;
    grid-gap: 2rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 56vw;
    /* z-index: 9; */
}

.projdescript div p{
    width: 39vw;
    height: auto;
}

/* cny cards */

.cny-gallery {
    opacity: 1;
    display: grid;
    grid-template-columns: 32vw 24vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    /* z-index: 9; */
}

.cny-gallery div img {
    width: 32vw;
    height: auto;
}

.cny-gallery div p {
    margin-top: 4rem;
    width: 24vw;
    height: auto;
}

#yuanbao {
    width: 100%;
    float: left
}


/* paach */

.paach-gallery {
    opacity: 1;
    display: grid;
    grid-template-columns: 30vw 24vw;
    grid-gap: 2rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* z-index: 9; */
}

.paach-gallery div img {
    width: 100%;
    /* margin-bottom: 1rem; */
    height: auto;
}

.paach-gallery div p {
    width: 24vw;
    height: auto;
}

.paach-gallery div p {
    width: 24vw;
    height: auto;
}

#paach-parts h2 {
    color:rgb(42, 40, 156);
    font-weight:500;
}

/* paach */

.keru-gallery {
    opacity: 1;
    display: grid;
    grid-template-columns: 18vw 36vw;
    grid-gap: 2rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* z-index: 9; */
}

.keru-gallery div img {
    width: 100%;
    /* margin-bottom: 1rem; */
    height: auto;
}

/* The Modal (background) */
/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);

} */

/* Modal Content */

/* .modal-content {
    position: relative;
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 80vh;
}

.modal-content img {
     margin:auto; 
} */


nav#mobile {
    display: none;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    

    nav a{
        font-size: 2rem;
    }
    
    nav {
        margin-top: 2rem;
    }
      
    #introduction {
        text-align: left;
    }

    #introduction p {
        font-size: 4.5rem;
        line-height: 6rem;
        width: 75%;
    }

    .icon-scroll {
        display: none;
    }

    header {
        position: relative;
    }

    header h1 {
        font-size: 4rem;
 
    }
    
    .werk {
        -webkit-filter: none;
        filter: none;
    }

    .play {
        -webkit-filter: none;
        filter: none;
    }

    .resume {
        -webkit-filter: none;
        filter: none;
    }

    .abot {
        -webkit-filter: none;
        filter: none;
    }

    .katie {
        -webkit-filter: none;
        filter: none;
    }
    
    .grid-container {
        display: block;
        margin-top: 5rem;
    }
    
    #title {
        opacity: 1;
    
    }
      
    #title h2{
          font-size: 2rem;
          line-height: 3rem;
    }
      
    #title h3{
          font-size: 1.5rem;
          line-height: 2.5rem;
    }
    
    #dash {
        opacity: 1;
        transform: scale(2);
    }
    
    .grid-container div h2 {
        margin-top: 1rem;
    }
    
    .grid-container div #dash {
        margin-top: 1.2rem;
    }
    
    .grid-container div h3 {
        margin-bottom: 3rem;
    }
    
    .grid-container div#up .shown {
        display: none;
    }
    
    
    .hide {
        display: block;
    }

    .intro-grid {
        display: block;
    }
    
    .sub-grid {
        display: block;
    }
    
    .img-grid {
        display: block;
    }
    
    .break svg {
        margin-left: 15vw;
        width: 100%;
    }
    
    
    section #post {
        margin-bottom: 3rem;
        margin-top: 1rem;
        height: auto;
    }
      
    
      footer {
          display: none;
      }

      section p {
          font-size: 2rem;
          line-height: 3rem;
      }
        section h2 {
          font-size: 2rem;
          line-height: 3rem;
      }
} */
